@import url("reset.css");
@import url("typography.css");
@import url("navigation.css");
@import url("footer.css");

html {
}

body {
  /* max-width: 1300px;
	margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  min-height: 100vh;
}

body > header:first-of-type {
  background: #000;
}

main {
  background: url("../img/johny-goerend-411397-unsplash.jpg") no-repeat center center;
  background-size: cover;
  /* background-attachment: fixed;*/
}

.main-content {
  width: 90%;
  margin: 0 auto;
}

.main-content-picture img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/*main*/

.slogan {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  color: white;
  font-weight: bold;
  position: relative;
}

.slogan > div > span:first-of-type {
  padding-right: 1em;
}

.choose-container2,
.choose-container {
  width: 400px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  line-height: 60px;
  background: rgb(255, 119, 0) url("../img/waves.png") no-repeat center center;
}

.choose-container2 {
  display: none;
}

.main-content-text {
  background: white;
  padding: 2em 2em 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
}

.main-content-text section {
  flex: 1 0 20%;
  padding-bottom: 2em;
}

.main-content-text section:not(:last-child) {
  padding-right: 2em;
}

footer {
  background: url("../img/fenix-footer.jpg") no-repeat center center;
  background-size: cover;
  padding: 1em 3em 3em 3em;
}

@media screen and (max-width: 800px) {
  .main-content {
    /* padding: 1em 0; */
  }

  .slogan {
    padding: 0.5em 0;
  }

  .main-content-text section {
    flex: 0 0 50%;
  }  
}

@media screen and (max-width: 900px) {
  .choose-container {
    display: none;
  }

  .choose-container2 {
    display: block;
    max-width: 150px;
    bottom: -10px;
    line-height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: bold;
  }

  .main-content-picture {
    position: relative;
  }
}
